h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: blue; /* Changed color */
    margin-bottom: 1rem;
    text-align: center;
}
.box {
    border: 5px solid black;
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
}
.small-box {
    border: 5px lightgray lightgray;
    max-height: 50px;
    max-width: 50px;
    padding: 1rem;
}
.container { color: lightgray; }
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}