@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@1,75..100,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav {
    width: 100%;
    max-width: 1300px;
    height: calc(100vh - 70vh);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0; 
    background-color: #cafdff
}
a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
ul {
    display: flex;
}
li {
    list-style: none;
    padding-left: 16px;
}
.row {
    width: 100%;
    max-width: 1300px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 300px;
}
.header {
    font-size: 20px;
    height: calc(100vh - 70px);
    background-color: #edfdff;
    padding:32px;
    font-weight: 300;
}
.subheader{
    font-size: 24px;
    margin: 16px 16px 24px;
}
.button {
    background-color: #4ffa00;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}
#about,
#discord,
#contact,
#footer
{
 padding: 48px 0;
}

/*

ABOUT, DISCORD, CONTACT,FOOTER

*/

h2 {
font-size:40px;
text-align: center;
justify-content: center;
margin-bottom: 24px;
}
.section__description{
display: flex;
align-items: center;
justify-content: center;
}
.section__description--wrapper{
    width: 60%;
    margin-bottom: 24px; 
}
.about__img--wrapper{

    max-width: 100%;
    margin-right: 24px;
}
.img {
  width:100%;
}
.about__img--wrapper,
.section__description--para{
    padding: 0 24px 24px;
}
/*

discord

*/

#discord {
    background-color: #f5d8c7;
}

/*

CONTACT

*/

#contact {
    background-color: #c7f5e0;
}
form{
width: 100%;
 max-width: 600px;
display: flex;
 flex-direction: column;
margin: 0 auto;
padding: 24px;
}
input,textarea{
    margin-bottom:6px;
    font-size: 20px;
    padding: 6px 12px;
}

button{
    margin-top: 12px;
    background-color: #4ffa00;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

/*

    footer

*/

footer {
    background-color: #87a3a7;
}
.footer__logo {
   max-width: 350px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.footer__links {
    display: flex;
    justify-content: center;
    padding: 24px 24px;
}
.footer__link {
    padding: 24px 48px;
}

/* small phones, tablets, large smartphones */

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .home__description--button{
        max-width: 240px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
    }
    .h1{
        text-align: center;
        font-size:60px;
    }
    .subheader {
        text-align: center;
        font-size: 28px;
    }
    .home__description {
        padding-right: 24px;
        display: flex;
        flex-direction: column;   
        align-items: center;    
    }
ul {
    display: none;
 }
 .section__description--para {
    display: flex;
    text-align: center;
    padding: 24px 24px 24px;
}
.section__description--wrapper {
   max-width: 100%;
   padding-left: 24px;
   padding-right: 24px;
   margin: auto;
}
.about__img--wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#discord .section__description {
    flex-direction: column-reverse;
}
footer {
    max-width: 750px;
    max-height: 400px;
    padding: 24px 24px 24px 24px;
}
.footer__logo {
 max-width: 100px;
    display: flex;
    
}
.footer__link {
    padding: 0 24px 24px;
    justify-content: center;
    font-size: 18px;
}
.footer__links {
    padding: 24px;}
}
